* {
    font-family: verdana;
}

.contenedor {
    display: grid;
    grid-template-areas:
        'hd hd hd hd hd hd'
        'nv nv nv nv nv nv'
        '. . . . rs rs'
        'mp mp mp mp mp mp'
        'ct ct ct ct ct ct'
        'ft ft ft ft ft ft'
    ;
}

@media (max-width:800px) {
    .contenedor {
        width: 100%;
    }

    .contenedor{
        display: grid;
        grid-template-areas: 
        'hd'
        'nv'
        'rs'
        'mp'
        'ct'
        'ft'
        ;
    }

    /*ENCABEZADO*/
    header {
        grid-area: hd;
        padding: 10px 5px 5px 5px;
    }

    header>img:first-child {
        width: 200px;
        float: left;
    }

    header>img:last-child {
        width: 100px;
        float: right;
    }

    /*FIN ENCABEZADO*/

    /*BARRA DE NAVEGACIÓN*/
    nav{
        grid-area: nv;
        background-color: darkred;
    }

    ul, input{
        display: none;
    }

    input:checked ~ul{
        display: block;
    }

    label{
        display: flex;
        justify-content: right;
        user-select: none;
        padding: 10px;
    }

    ul{
        margin: 0;
        padding: 0;
    }

    li{
        display: block;
        background-color: white;
        color: darkred;
        margin: 0;
        padding: auto;
    }

    nav>ul>li>a{
        display: block;
        margin: auto;
        text-decoration: none;
        padding: 10px;
        border: 2px solid darkred;
        text-align: center;
        color: darkred;
        font-weight: bolder;
    }

    /*FIN BARRA DE NAVEGACIÓN*/

    /*REDES SOCIALES*/
    aside{
        grid-area: rs;
        column-gap: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 3%;
        padding: 0;
    }

    aside>a>img{
        display: block;
        width: 30px;
        margin: 0px;
    }

    aside>a{
        position: relative;
        display: inline-block;
        vertical-align: middle;
        border-radius: 100px;
    }
    /*FIN REDES SOCIALES*/

    /*MAPA*/
    .map{
        grid-area: mp;
        width: 100%;
        height: 600px;
        overflow: hidden;        
    }

    .map h3{
        margin: 1% 3%;
        color: darkred;
    }

    .map .imap{
        width: 100%;
        height: 90%;
    }
    /*SLIDERSHOW*/
    .carrete{
        grid-area: ct;
    }

    .carrete h3{
        margin: 1% 3%;
        color: darkred;
    }


    @keyframes slidy{
        0% {left: 0%;}
        20% {left: 0%;}
        25% {left: -100%;}
        45% {left: -100%;}
        50% {left: -200%;}
        70% {left: -200%;}
        75% {left: -300%;}
        95% {left: -300%;}
        100% {left: -400%;}
    }

    div#slider{
        overflow: hidden;
    }

    div#slider figure img{
        width: 20%;
        float: left;
    }

    div#slider figure{
        position: relative;
        width: 500%;
        margin: 0;
        left: 0;
        animation: 30s slidy infinite;
    }

    /*PIE DE PAGINA*/
    footer {
        grid-area: ft;
        padding: 2%;
        background-color: darkred;
        color: white;
        text-align: center;
    }

    /*PIE DE PAGINA*/

}

/*PANTALLA PEQUEÑA*/

@media (min-width:800px) {
    .contenedor {
        width: 100%;
    }

    /*ENCABEZADO*/
    header {
        grid-area: hd;
        padding: 10px 5px 5px 5px;
    }

    header>img:first-child {
        width: 200px;
        float: left;
    }

    header>img:last-child {
        width: 100px;
        float: right;
    }

    /*FIN ENCABEZADO*/

    /*BARRA DE NAVEGACIÓN*/
    nav {
        grid-area: nv;
        background-color: darkred;
    }

    nav>input,
    label {
        display: none;
    }

    nav>ul {
        list-style-type: none;
        margin: 0%;
        padding: 0;
    }

    nav>ul>li {
        float: left;
    }

    nav>ul>li>a {
        display: block;
        text-decoration: none;
        color: white;
        padding: 20px;
    }

    nav>ul>li>a:hover {
        background-color: white;
        color: darkred;
    }

    /*FIN BARRA DE NAVEGACIÓN*/

    /*REDES SOCIALES*/
    aside {
        grid-area: rs;
        column-gap: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    aside>a>img {
        display: block;
        width: 30px;
        margin: 0px;
    }

    aside>a {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        border-radius: 100px;
    }

    /*FIN REDES SOCIALES*/

    /*MAPA*/
    .map{
        grid-area: mp;
        width: 100%;
        height: 600px;
        overflow: hidden;        
    }

    .map h3{
        margin: 1% 3%;
        color: darkred;
    }

    .map .imap{
        width: 100%;
        height: 90%;
    }
    /*SLIDERSHOW*/
    .carrete{
        grid-area: ct;
    }

    .carrete h3{
        margin: 1% 3%;
        color: darkred;
    }


    @keyframes slidy{
        0% {left: 0%;}
        20% {left: 0%;}
        25% {left: -100%;}
        45% {left: -100%;}
        50% {left: -200%;}
        70% {left: -200%;}
        75% {left: -300%;}
        95% {left: -300%;}
        100% {left: -400%;}
    }

    div#slider{
        overflow: hidden;
    }

    div#slider figure img{
        width: 20%;
        float: left;
    }

    div#slider figure{
        position: relative;
        width: 500%;
        margin: 0;
        left: 0;
        animation: 30s slidy infinite;
    }

    /*PIE DE PAGINA*/
    footer {
        grid-area: ft;
        padding: 2%;
        background-color: darkred;
        color: white;
        text-align: center;
    }

    /*PIE DE PAGINA*/

}